$color1: darkblue;

// body {
// 	background-color: $color1;
// 	color: white;
// }

body {
	padding: 30px;
}

#input_labels {
	float: left;
	label {
		display: block;
		margin-bottom: 10px;
	}
}

#song_inputs {
	float: left;
	margin-left: 20px;
	input {
		display: block;
		margin-bottom: 10px;
	}
}

#song_links {
	margin-bottom: 12px;
}

#filters {
	margin-bottom: 12px;
}