body {
	padding: 50px 50px 0 50px;
	padding-right: 50px;
}

nav {
	background-color: #FFB4B0;
	border: 2px solid black;
}

nav > ul {
	height: 20px;
}

nav > ul > li {
	float: left;
	text-align: center;
	list-style: none;
	padding: 0 5px;
}

nav > ul > li > a {
	text-decoration: none;
	font-family: Arial;

}

h2 {
	font-family: Arial;
}

.sidebar {
	float: left;
	background-color: #4DD7FA;
	height: 400px;
	width: 30%;
	margin: 10px 5px 10px 0;
	border: 2px solid black;
	padding: 15px;
}

.songList {
	background-color: #FEFAC0;
	height: 400px;
	margin: 10px 0 10px 10px;
	border: 2px solid black;
	padding: 15px;
}

.songListItem {
	height: 30px;
	padding-left: 0;
}

.songListItem > li {
	float: left;
	text-align: center;
	list-style: none;
	padding-right: 10px;
}