body {
	padding: 0;
	margin: 0;
	font-family: Arial;
}

.content {
	width: 90%;
	margin: 20px 5%;
}

nav {
	background-color: #FFB4B0;
	border: 2px solid black;
}

nav > ul {
	height: 20px;
}

nav > ul > li {
	float: left;
	text-align: center;
	list-style: none;
	padding: 0 5px;
}

nav > ul > li > a {
	text-decoration: none;
	font-family: Arial;

}

h2 {
	font-family: Arial;
	color: #785616;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 20px;
}

.sidebar {
	float: left;
	background-color: #4DD7FA;
	height: 400px;
	width: 20%;
	margin: 10px auto 10px 0;
	border: 2px solid black;
	padding: 15px;
}

.songList {
	float: left;
	background-color: #FEFAC0;
	height: 400px;
	width: 70%;
	margin: 10px 0 10px 10px;
	border: 2px solid black;
	padding: 15px;
}

#addView {
	background-color: #FEFAC0;
	height: 400px;
	/*width: 70%;*/
	margin: 10px 0;
	border: 2px solid black;
	padding: 15px;
}

.songListItem {
	height: 30px;
	padding-left: 20px;
	margin-top: 10px;
}

.songListItem > li {
	float: left;
	text-align: center;
	list-style: none;
	padding-right: 10px;
	font-family: Arial;
}

.lengthSlider {
	width: 86%;
}

.dropdown {
	width: 90%;
}

.sidebarLabel {
	margin-top: 25px;
	margin-bottom: 0;
}

.genreCol1 {
	width: 50%;
	height: 100px;
	float: left;
}

.genreCol1 > input, .genreCol2 > input {
	margin: 10px 5px;
}

.genreCol2 {
	width: 50%;
	height: 100px;
	float: right;
}

.filterButton {
	text-align: center;
}

.filterButton > button {
	width: 100px;
	margin: 10px 0 0 0;
	font-size: 1.3em;
}

.roundedCorners {
	border-radius: 10px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
